@import 'variables';

.contact-us {
  background-image: url("../images/paper-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 75px;
  padding-top: 75px;
  color: $gray-color;

  .contact-form {
    width: 655px;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    margin-top: 60px;
  }

  .text-field {
    margin-bottom: 45px;

    input {
      width: 467px;
      border: none;
      padding: 8px 0px 5px 8px;
      margin-left: 25px;
      font-size: 1.6em;
      font-weight: 200;
      font-family: $josefin-font;
    }
  }

  label {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
  }

  .comments {
    display: flex;
    margin-left: 39px;

    label {
      margin: 4px 4px 0px 0px;
      display: block;
    }
  }

  #comments {
    width: 475px;
    border: none;
    padding: 8px 0px 5px 8px;
    margin-left: 25px;
    font-size: 1.6em;
    font-weight: 200;
    font-family: $josefin-font;
  }
}

.submit-button {
  width: 127px;
  background-color: $gray-color;
  padding: 8px;
  margin-left:auto;
  margin-top: 45px;

  input {
    background: none;
    color: white;
    text-transform: uppercase;
    font-size: 2.4em;
    font-weight: 400;
    text-align: center;
    border: 3px solid white;
    padding: 6px 14px 6px 14px;
  }
}
