/** Hello! */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i');
@import url("https://use.typekit.net/bkg5gqt.css");

@import 'variables';
@import 'header';
@import 'menu';
@import 'about-us';
@import 'hours';
@import 'contact-us';
@import 'menu-page';

body {
  font-size:62.5%;
  width:100%;
  font-family: $josefin-font;
  margin: 0;
}

footer {
  background-color: $red-color;
  color: $gray-color;
  line-height: 15px;
  padding-top: 45px;
  padding-bottom: 45px;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-family: $viktor-font;
  font-size: 7.2em;
  text-align: center;
  margin-bottom: -25px;
  margin-top: 0;
}


.underline {
  margin-left: auto;
  margin-right: auto;
  width: 136px;
  display: block;
}
